[ui-view].ng-enter, [ui-view].ng-leave {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

[ui-view].ng-leave {
    left: 0;
}

[ui-view].ng-leave-active {
    left: -100%;
}

[ui-view].ng-enter {
    left: 100%;
}

[ui-view].ng-enter-active {
    left: 0;
}