.location-list {
    height: 30px;
    .location {
        float: left;
        padding: 10px;
        border: thin solid white;
//        box-sizing: border-box;
    }
}

.topo-image-container {
    width: 500px;
    height: 525px;
    background: url("../images/neurofeedback/head-topo-white-correct.png");
    background-position: -1px -3px;
    position: relative;
    margin-top: 20px;

    img {
        width: 100%;
    }

    @marker-lg-size: 38px;
    @marker-md-size: 33px;
    @marker-sm-size: 29px;



    .large-marker {
        width: @marker-lg-size;
        height: @marker-lg-size;
        border-radius: @marker-lg-size/2;
    }

    .medium-marker {
        width: @marker-md-size;
        height: @marker-md-size;
        border-radius: @marker-md-size/2;
    }

    .small-marker {
        width: @marker-sm-size;
        height: @marker-sm-size;
        border-radius: @marker-sm-size/2;
    }
    .marker {

        border: 3px solid pink;
        position: absolute;
        top: 50px;
        left: 50px;

        .large-marker;

        &.ch1 {
            border-color: red;
        }
        &.ref1 {
            border-color: black;
        }
        &.ch2 {
          border-color: blue;
        }
        &.ref2 {
          border-color: gray;
        }
        &.ground {
            border-color: green;
        }

      &.fz {
        top: 163px;
        left: 230px;
      }
      &.fcz {
        top: 211px;
        left: 230px;
      }
      &.cz {
        top: 259px;
        left: 230px;
      }
      &.cpz {
        top: 310px;
        left: 231px;
      }

      &.fp1 {
        top: 73px;
        left: 173px;
      }

      &.fpz {
        top: 64px;
        left: 231px;
      }

      &.fp2 {
        top: 73px;
        left: 290px;
      }

      &.f7 {
        top: 144px;
        left: 88px;
      }

      &.f5 {
        top: 156px;
        left: 133px;
        .medium-marker;
      }

      &.f3 {
        top: 160px;
        left: 168px;
        .medium-marker;
      }

      &.f1 {
        top: 165px;
        left: 200px;
        .medium-marker;
      }

      &.f2 {
        top: 165px;
        left: 268px;
      }

      &.f4 {
        top: 161px;
        left: 299px;
        .medium-marker;
      }

      &.f6 {
        top: 156px;
        left: 334px;
        .medium-marker;
      }

      &.f8 {
        top: 144px;
        left: 372px;

      }

      &.a1 {
        top: 261px;
        left: -3px;
      }

      &.a2 {
        top: 261px;
        left: 463px;
      }

      &.t7 {
        top: 261px;
        left: 53px;
      }

      &.t3 {
        top: 261px;
        left: 53px;
      }

      &.c5 {
        top: 261px;
        left: 95px;
      }

      &.c3 {
        top: 261px;
        left: 139px;
      }

      &.c1 {
        top: 261px;
        left: 185px;
      }

      &.c2 {

        top: 261px;
        left: 274px;
      }

      &.c4 {
        top: 261px;
        left: 318px;

      }

      &.c6 {
        top: 261px;
        left: 363px;

      }

      &.t8 {
        top: 261px;
        left: 409px;

      }

      &.t4 {
        top: 261px;
        left: 409px;

      }

      &.t5 {
        top: 331px;
        left: 66px;
      }

      &.t6 {
        top: 331px;
        left: 397px;
      }

      &.p7 {
        top: 388px;
        left: 100px;
      }

      &.p5 {
        top: 375px;
        left: 137px;
        .medium-marker;
      }

      &.p3 {
        top: 366px;
        left: 169px;
        .medium-marker;
      }

      &.p1 {
        top: 363px;
        left: 200px;
        .medium-marker;
      }

      &.pz {
        top: 357px;
        left: 231px;
      }

      &.p2 {
        top: 363px;
        left: 268px;
        .medium-marker;
      }

      &.p4 {
        top: 366px;
        left: 300px;
        .medium-marker;
      }

      &.p6 {
        top: 375px;
        left: 331px;
        .medium-marker;
      }

      &.p8 {
        top: 389px;
        left: 364px;
      }

      &.o1 {
        top: 442px;
        left: 172px;
      }

      &.oz {
        top: 456px;
        left: 231px;
      }

      &.o2 {
        top: 442px;
        left: 291px;
      }

      &.mass {
        top: 316px;
        left: 17px;
      }

      &.mass1 {
        top: 316px;
        left: 17px;
      }

      &.mass2 {
        top: 316px;
        left: 440px;
      }
    }
}