.transparent-dialog {
  margin-top: 30%;
  font-size: 22pt;
  padding: 30px;
  background-color: rgba(0,0,0,0.8);
  border-radius: 10px;
}

.widget-body {
  color: #333;
//  background: rgba(60,60,60,0.85);
}