.black-gradient {
  background: #45484d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #45484d 0%, #000000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #45484d 0%, #000000 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
}
#settings-buttons-container {
  padding-top: 45px;
}
.location-list {
  height: 30px;
}
.location-list .location {
  float: left;
  padding: 10px;
  border: thin solid white;
}
.topo-image-container {
  position: relative;
  margin-top: 20px;
}
.topo-image-container img {
  width: 100%;
}
.topo-image-container .large-marker {
  width: 39px;
  height: 39px;
  border-radius: 19.5px;
}
.topo-image-container .medium-marker {
  width: 33px;
  height: 33px;
  border-radius: 16.5px;
}
.topo-image-container .small-marker {
  width: 29px;
  height: 29px;
  border-radius: 14.5px;
}
.topo-image-container .marker {
  border: 3px solid white;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 39px;
  height: 39px;
  border-radius: 19.5px;
}
.topo-image-container .marker.ch1 {
  border-color: red;
}
.topo-image-container .marker.ref1 {
  border-color: blue;
}
.topo-image-container .marker.ground {
  border-color: black;
}
.topo-image-container .marker.fpz {
  left: 275px;
  top: 55px;
}
.topo-image-container .marker.fp1 {
  left: 211px;
  top: 65px;
}
.topo-image-container .marker.fp2 {
  left: 341px;
  top: 65px;
}
.topo-image-container .marker.f7 {
  left: 116;
  top: 135px;
}
.topo-image-container .marker.fz {
  left: 275px;
  top: 154px;
}
.topo-image-container .marker.f8 {
  left: 432px;
  top: 135px;
}
.topo-image-container .marker.fcz {
  left: 275px;
  top: 202px;
}
.topo-image-container .marker.t7 {
  left: 78;
  top: 252;
}
.topo-image-container .marker.c5 {
  left: 124px;
  top: 252px;
}
.topo-image-container .marker.c3 {
  left: 174px;
  top: 252px;
}
.topo-image-container .marker.c1 {
  left: 223px;
  top: 252px;
}
.topo-image-container .marker.cz {
  left: 275px;
  top: 252px;
}
.topo-image-container .marker.c2 {
  left: 322px;
  top: 252px;
}
.topo-image-container .marker.c4 {
  left: 372px;
  top: 252px;
}
.topo-image-container .marker.c6 {
  left: 422px;
  top: 252px;
}
.topo-image-container .marker.t8 {
  left: 472px;
  top: 252px;
}
.topo-image-container .marker.a1 {
  left: 16px;
  top: 252px;
}
.topo-image-container .marker.a2 {
  left: 533px;
  top: 252px;
}
.topo-image-container .marker.t5 {
  left: 92px;
  top: 323px;
}
.topo-image-container .marker.cpz {
  left: 275px;
  top: 302px;
}
.topo-image-container .marker.t6 {
  left: 459px;
  top: 323px;
}
.topo-image-container .marker.p7 {
  left: 129px;
  top: 382px;
}
.topo-image-container .marker.pz {
  left: 275px;
  top: 350px;
}
.topo-image-container .marker.p8 {
  left: 422px;
  top: 383px;
}
.topo-image-container .marker.o1 {
  left: 209px;
  top: 435px;
}
.topo-image-container .marker.oz {
  left: 275px;
  top: 449px;
}
.topo-image-container .marker.o2 {
  left: 341px;
  top: 435px;
}
.topo-image-container .marker.mastoid1 {
  width: 29px;
  height: 29px;
  border-radius: 14.5px;
  left: 40px;
  top: 300px;
}
.topo-image-container .marker.mastoid2 {
  width: 29px;
  height: 29px;
  border-radius: 14.5px;
  left: 520px;
  top: 300px;
}
.topo-image-container .marker.f5 {
  width: 33px;
  height: 33px;
  border-radius: 16.5px;
  left: 166px;
  top: 147px;
}
.topo-image-container .marker.f3 {
  width: 33px;
  height: 33px;
  border-radius: 16.5px;
  left: 204px;
  top: 151px;
}
.topo-image-container .marker.f1 {
  width: 33px;
  height: 33px;
  border-radius: 16.5px;
  left: 240px;
  top: 155px;
}
.topo-image-container .marker.f2 {
  width: 33px;
  height: 33px;
  border-radius: 16.5px;
  left: 316px;
  top: 156px;
}
.topo-image-container .marker.f4 {
  width: 33px;
  height: 33px;
  border-radius: 16.5px;
  left: 350px;
  top: 152px;
}
.topo-image-container .marker.f6 {
  width: 33px;
  height: 33px;
  border-radius: 16.5px;
  left: 390px;
  top: 147px;
}
.topo-image-container .marker.fc3 {
  width: 33px;
  height: 33px;
  border-radius: 16.5px;
  left: 185px;
  top: 201px;
}
.topo-image-container .marker.fc4 {
  width: 33px;
  height: 33px;
  border-radius: 16.5px;
  left: 370px;
  top: 200px;
}
.topo-image-container .marker.cp3 {
  width: 33px;
  height: 33px;
  border-radius: 16.5px;
  left: 105px;
  top: 312px;
}
.topo-image-container .marker.cp4 {
  width: 33px;
  height: 33px;
  border-radius: 16.5px;
  left: 370px;
  top: 312px;
}
.topo-image-container .marker.p5 {
  width: 33px;
  height: 33px;
  border-radius: 16.5px;
  left: 170px;
  top: 368px;
}
.topo-image-container .marker.p3 {
  width: 33px;
  height: 33px;
  border-radius: 16.5px;
  left: 205px;
  top: 359px;
}
.topo-image-container .marker.p1 {
  width: 33px;
  height: 33px;
  border-radius: 16.5px;
  left: 241px;
  top: 355px;
}
.topo-image-container .marker.p2 {
  width: 33px;
  height: 33px;
  border-radius: 16.5px;
  left: 316px;
  top: 355px;
}
.topo-image-container .marker.p4 {
  width: 33px;
  height: 33px;
  border-radius: 16.5px;
  left: 350px;
  top: 359px;
}
.topo-image-container .marker.p6 {
  width: 33px;
  height: 33px;
  border-radius: 16.5px;
  left: 385px;
  top: 368px;
}
[ui-view].ng-enter,
[ui-view].ng-leave {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
[ui-view].ng-leave {
  left: 0;
}
[ui-view].ng-leave-active {
  left: -100%;
}
[ui-view].ng-enter {
  left: 100%;
}
[ui-view].ng-enter-active {
  left: 0;
}
#main-container {
  width: 1024px;
  background: url(../images/linen-bg.jpg);
}
#main {
  height: 768px;
  color: white;
}
#main-view {
  height: 98%;
  margin-top: 1%;
  width: 98%;
  margin-left: 1%;
  overflow: hidden;
}
#main-iframe {
  z-index: 9;
  width: 100%;
  height: 740px;
  margin-top: 1%;
  box-sizing: border-box;
  padding: 0;
  border: 0;
}
#footer {
  height: 100px;
  color: white;
  background: #333333;
}
#footer h3 {
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
  color: #bbbbbb;
  padding: 0;
}
#footer .clock-container {
  text-align: center;
}
#footer .clock-container .clock {
  color: #bbbbbb;
  margin-bottom: 5px;
  font-size: 28px;
}
#footer .activities-container {
  text-align: right;
}
.in-threshold-border {
  border: thin solid green;
}
.not-in-threshold-border {
  border: thin solid red;
}
.no-transition {
  -webkit-transition: 0.0s linear all;
  -moz-transition: 0.0s linear all;
  -o-transition: 0.0s linear all;
  transition: 0.0s linear all;
}
/*
Dark Modals
*/
.modal {
  z-index: 999999;
}
.modal.dark .modal-content {
  border: thin solid #888;
  background-color: #333333;
  color: #eee;
}
.modal.dark .modal-header {
  background-color: #444;
  border-bottom: 1px solid #333333;
}
.modal.dark .modal-header .close {
  color: #fff;
  opacity: 0.5;
  text-shadow: 0 1px 0 #333;
}
.modal.dark .modal-footer {
  background-color: #444;
  border-top: 1px solid #333333;
}
.modal.dark hr.hr {
  border-color: #666;
}
