<html data-ng-app="NeurocoachApp">
<head>

    <title>NeuroPathway</title>

    <script>
//        window.basePath = 'http://local.ntldashboard.com/';
        window.basePath = 'https://dashboard.myhealthybrain.net/';
    </script>

    <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="assets/css/ace.css"/>


    <link rel="stylesheet" href="assets/css/neuropathway.css"/>

    <style>
        .seekBase {
            height: 30px;
            width: 90%;
            border: 1px solid #cccccc;
        }
        .seekLoad {
            height: 30px;
            width: 0;
            background-color: #E0EAF1;
        }

        li {
            cursor: pointer;
        }
    </style>

    <script src="https://content.jwplatform.com/libraries/Gs9BOA0S.js"></script>
</head>
<body>
<app></app>
</body>
</html>