<style>

    #protocol-change-notification {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(183, 46, 42, 0.95);
        z-index:  99999;
        color: white;
    }

    #protocol-change-notification h2 {
        font-size: 38px;
    }

    #protocol-change-notification p {
        font-size: 18px;
    }

</style>

<template>
    <div class='row instructions-container' style="background: rgba(0,0,0,0.6);">

        <div id="protocol-change-notification" v-if="shared.activity.currentActivity.protocol_changes.length || shouldShowChangeNotice">
            <h2>Notice!</h2>
            <div v-if="shared.activity.currentActivity.protocol_changes.length">
                <p >There has been a protocol change for this activity.</p>
                <p v-for="change in shared.activity.currentActivity.protocol_changes">
                    <table class="table" style="color: white; font-weight: bold; width: 50%; margin-left: auto; margin-right: auto;">
                        <tbody>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td>Red Port</td>
                            <td>Black Port</td>
                            <td>Green Port</td>
                        </tr>
                        <tr>
                            <td>Old Placement</td>
                            <td>{{ change.old_protocol.ch_1_placement }}</td>
                            <td>{{ change.old_protocol.ref_1_placement }}</td>
                            <td>{{ change.old_protocol.ground_placement }}</td>
                        </tr>

                        <tr>
                            <td>New Placement</td>
                            <td>{{ change.new_protocol.ch_1_placement }}</td>
                            <td>{{ change.new_protocol.ref_1_placement }}</td>
                            <td>{{ change.new_protocol.ground_placement }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-info" @click="dismissProtocolNotification(change)">
                        Dismiss and Continue
                    </button>
                </p>
            </div>

            <div v-if="shouldShowChangeNotice">
                <table class="table" style="color: white; font-weight: bold; width: 50%; margin-left: auto; margin-right: auto;">
                    <tbody>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>Red Port</td>
                        <td>Black Port</td>
                        <td>Green Port</td>
                    </tr>
                    <tr>
                        <td>Old Placement</td>
                        <td>{{ shared.activity.previousActivity.protocol.ch_1_placement }}</td>
                        <td>{{ shared.activity.previousActivity.protocol.ref_1_placement }}</td>
                        <td>{{ shared.activity.previousActivity.protocol.ground_placement }}</td>
                    </tr>

                    <tr>
                        <td>New Placement</td>
                        <td>{{ shared.activity.currentActivity.protocol.ch_1_placement }}</td>
                        <td>{{ shared.activity.currentActivity.protocol.ref_1_placement }}</td>
                        <td>{{ shared.activity.currentActivity.protocol.ground_placement }}</td>
                    </tr>
                    </tbody>
                </table>
                <button class="btn btn-info" @click="dismissProtocolNotification()">
                    Dismiss and Continue
                </button>
            </div>

        </div>

        <div class="col-sm-5 instructions-container" style="height: 100%;">
            <h1>{{ shared.activity.currentActivity.activity.name }}</h1>
            <p class="instructions">{{ shared.activity.currentActivity.activity.instructions }}</p>

            <p v-if="shared.activity.currentActivity.protocol">
                {{ $lang.get('eeg_setup') }}
            </p>

            <button class="btn btn-primary btn-lg" @click='startActivity()'>Start {{ shared.activity.currentActivity.activity.name }}</button>
            <hr>
            <h3 v-if="shared.activity.currentActivity.notes">Personalized Instructions:</h3>
            <p v-if="shared.activity.currentActivity.notes">
                {{ shared.activity.currentActivity.notes }}
            </p>

            <div class="row" v-if="pinError">
                <div class="col-sm-12 alert alert-danger">
                    {{ pinError }}
                </div>
            </div>
            <div class="row" v-if="!hasPin && shared.activity.currentActivity.protocol">
                <div class="col-sm-8">
                    <input v-model="pin" type="password" class="form-control" placeholder="PIN #">
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-sm btn-success" @click="checkPin(pin)">
                        <i v-if="pinLoading" disabled class="fa fa-spin fa-spinner disabled"></i>
                        <i v-if="!pinLoading" class="fa fa-check"></i>
                        {{ $lang.get('verify_pin') }}
                    </button>
                </div>
                <div v-if="!shared.coach.pin" class="col-sm-12">
                    {{ $lang.get('pin_instructions') }}
                </div>
            </div>
            <div class="row" v-if="hasPin && shared.activity.currentActivity.protocol && showPinMessage">
                <div class="col-sm-12 alert alert-success">
                    {{ $lang.get('pin_verified') }}
                </div>
            </div>

            <div v-if="shared.activity.currentActivity.protocol">
                <h3 v-if="shared.activity.currentActivity.notes">Lead Placement</h3>
                <table class="table" style="color: white;">
                    <tbody>
                    <tr>
                        <td>Red</td>
                        <td>Black</td>
                        <td>Green</td>
                    </tr>
                    <tr>
                        <td>{{ shared.activity.currentActivity.protocol.ch_1_placement }}</td>
                        <td>{{ shared.activity.currentActivity.protocol.ref_1_placement }}</td>
                        <td>{{ shared.activity.currentActivity.protocol.ground_placement }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-7" v-if="shared.activity.currentActivity.protocol">
            <h1 style="color: #eee">Neurocoach Protocol</h1>
            <div id="protocol-image" class="topo-image-container">
                <div v-for="placement in placements" :class="placement"></div>
            </div>
        </div>
    </div>
</template>

<script>
    import sharedData from '../sharedData.js'

    export default {
        data () {
            return {
                shared: sharedData,
                pin: null,
                pinLoading: false,
                showPinMessage: false,
                pinError: '',
                placementHtml: '',
                placementChangeDismissed: false
            }
        },
        ready () {
            console.log('activity setup')
            if(process.env.NODE_ENV === 'development') {
                // this.pin = 4201;
                // this.checkPin();
            }
        },
        computed: {
            shouldShowChangeNotice () {
                var activity = this.shared.activity;

                if ( ! activity.previousActivity ) {
                    console.log('dont show');
                    return false;
                }

                if(this.placementChangeDismissed) {
                    return false;
                }

                if(activity.currentActivity.protocol && activity.previousActivity.protocol) {


                    if(activity.currentActivity.protocol.ch_1_placement != activity.previousActivity.protocol.ch_1_placement) return true;
                    if(activity.currentActivity.protocol.ref_1_placement != activity.previousActivity.protocol.ref_1_placement) return true;
                    if(activity.currentActivity.protocol.ground_placement != activity.previousActivity.protocol.ground_placement) return true;


                }

                return false;
            },

            hasPin: function() {
                return this.shared.coach.pin ? true : false;
            },
            placements: function() {
                var placements = [];
                if(this.shared.activity.currentActivity && this.shared.activity.currentActivity.protocol) {
                    //console.log(JSON.parse(JSON.stringify(this.shared.activity.currentActivity.protocol)))
                    var protocol = this.shared.activity.currentActivity.protocol;
                    var channels = ['ch_1', 'ref_1', 'ch_2', 'ref_2', 'ground'];
                    for(var i in channels) {
                        var placementKey = channels[i]+'_placement';
                        var placementString = channels[i].replace('_', '');
                        //console.log(protocol[placementKey]);
                        if ( ! protocol[placementKey]) continue;
                        switch(protocol[placementKey]) {
                            case 'le':
                                var placement = {
                                    marker: true,
                                }
                                placement['a1'] = true;
                                placement[placementString] = true;
                                placements.push(placement);
                                var placement = {
                                    marker: true,
                                }
                                placement['a2'] = true;
                                placement[placementString] = true;
                                placements.push(placement);
//                                markerHtml = "<div class='marker a1 "+type+"' ></div><div class='marker a2 "+type+"' ></div>"
                                break;

                            case 'mass':
                                var placement = {
                                    marker: true,
                                }
                                placement['mass1'] = true;
                                placement[placementString] = true;
                                placements.push(placement);
                                var placement = {
                                    marker: true,
                                }
                                placement['mass2'] = true;
                                placement[placementString] = true;
                                placements.push(placement);
//                                markerHtml = "<div class='marker mass1 "+type+"' ></div><div class='marker mass2 "+type+"' ></div>"
                                break;

                            default:
                                var placement = {
                                    marker: true,
                                }
                                placement[protocol[placementKey]] = true;
                                placement[placementString] = true;
                                placements.push(placement);
                        }
                    }
                }
                return placements;
            },
        },
        methods: {

            appendMarkerHtml() {
                var html = this.$ncPlacement.generateFromProtocol(this.shared.activity.currentActivity.protocol);
                var div = document.createElement('div');
                div.innerHtml
                this.placementHtml = html;
            },
            startActivity() {
                if(this.shared.activity.currentActivity.activity.name == 'Coolmath Games') {

                }
                console.log('Going to coolmath');
                switch(this.shared.activity.currentActivity.activity.type) {
                    case 'external-netflix':
                        this.$neurocoachLauncher.startExternalDimmer('netflix')
                        this.$router.go('activity-iframe');
                        break;

                    case 'eyes-closed':
                        this.$router.go('activity-blank');
                        break;

                    case 'coolmath':
                        this.$router.go('activity-coolmath');
                        console.log('Going to coolmath!');
                        break;

                    case 'music-stopgo':
                        this.$router.go('activity-music-stopgo');
                        break;

                    case 'youtube':
                        this.$router.go('activity-youtube');
                        break;

                    default:
                        this.$router.go('activity-iframe');
                }
                this.$dispatch('activities.started');
            },
            checkPin() {
                var vm = this;
                vm.pinLoading = true;
                this.$http.get('https://dashboard.myhealthybrain.net/rest/auth-check-pin?pin='+this.pin+'&client_id='+this.shared.user.id)
                        .then(function(response) {
                            vm.pinLoading = false;
                            if(response.data.success) {
                                vm.shared.coach.pin = vm.pin;
                                vm.pinError = '';
                                vm.showPinMessage = true;
                            }else {
                                vm.pinError = response.data.message;
                                vm.shared.coach.pin = null;
                            }
                        });
            },

            dismissProtocolNotification (change) {

                if(change) {
                    this.$http.get('https://dashboard.myhealthybrain.net/rest/dismiss-protocol-change?protocol_change_id='+change.id).then(function(response) {
                        this.shared.activity.currentActivity.protocol_changes =  [];
                    }.bind(this))
                }

                this.placementChangeDismissed = true;
            }
        },
        components: {}
    }
</script>
