<style>
    .activity-center-container {
        position: relative;
        width: 100%;
        margin-top: 25%;
        height: 200px;
        background-color: rgba(0,0,0,0.6);

        font-size: 3em;
        font-weight: bold;
    }
    .activity-center-label {
        display: block;
        padding-top: 55px;
        color: white;
        height: 100%;
        width: 100%;
        vertical-align: middle;
    }

    #youtube-input {
        width: 400px;
    }

    .search-bar {
        background: rgba(0,0,0,0.5);
        color: white;
        height: 70px;
        font-size: 18px;
        font-weight: bold;
        padding-top: 30px;
    }


    #eyes-closed-container {
        background: rgba(0,0,0,0.8);
        padding: 30px 30px 45px 30px;
        width: 500px;
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        color: white;
        border-radius: 20px;
    }

    #eyes-closed-container h2 {
        font-size: 48px;
    }

    #eyes-closed-container p {
        font-size: 28px;
    }

</style>

<template>
    <div>

        <div>

            <div class="row search-bar">
                <div class="col-sm-12">
                    <select @change="changePlaylist" v-model="currentPlaylistId">
                        <option v-for="(i, playlist) in playlists" :value="i">{{ playlist.name }}</option>
                    </select>

                    <select v-model="currentPlaylistTrackId">
                        <option v-for="(i, track) in currentPlaylist.video_ids" :value="i">{{ track }}</option>
                    </select>
                    <!--<input type="text" id="youtube-input" v-model="youtubeId" placeholder="Youtube ID (End of the URL. ex: saDWxNoADhg)">-->
                    <button class="btn btn-sm btn-inverse" @click="play()">Play</button>

                </div>
            </div>
            <div class="row player-row">
                <div class="col-sm-12"></div>

                    <div id="eyes-closed-container">
                        <h2>{{ $lang.get('eyes_closed') }}</h2>
                        <p>{{ $lang.get('eyes_closed_instructions') }} </p>
                    </div>
                    <!--<div id="player"></div>-->
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import SM from 'soundmanager2'
    import sharedData from '../sharedData.js';
    import ActivityViewMixin from '../mixins/ActivityViewMixin.js'
//    import jwplayer from 'jwplayer';

    var SoundManager = SM.soundManager;

    export default {
        mixins: [ActivityViewMixin],
        data () {
            return {
                shared: sharedData,
                messages: [],

                // Youtube
                youtubeId: '', // oLnlp63SBRM
                currentPlaylist: [],
                currentPlaylistId: 0,
                currentPlaylistTrackId: '',
                currentlyPlaying: '',
                playerUrl: '',
                player: null,
                helpIsOpen: false,

                soundManager: null,
                isPlaying: false,
                sounds: {},
            }
        },
        ready () {
            // Stop DLS Music
            this.$dispatch('music.shouldPause', 1);
//            // Dev
//            if(process.env.NODE_ENV === 'development') {
//                var started = 1;
//                window.devInterval = window.setInterval(function() {
//                    if(started) {
//                        this.onInThreshold();
//                    }else {
//                        this.onOutOfThreshold();
//                    }
//                    started = !started;
//                }.bind(this), 3000);
//
//            }
            this.initSound();

            this.currentPlaylist = this.playlists[0];
            this.currentPlaylistTrackId = this.currentPlaylist.video_ids[0];

            // Play Warning Sound
            this.$on('timer.ticked', function(remaining) {
                if(remaining == 1) {
                    window.clearInterval(window.devInterval);
                    this.$soundmanager.setVolume(this.shared.volume);
                    this.$soundmanager.stop('t_'+this.currentPlaylistTrackId);
                    this.$soundmanager.play('timewarning');
                }
            })
        },

        beforeDestroy () {
            // Start Music Back up
            window.clearInterval(window.devInterval);
            this.$dispatch('music.shouldPause', 0);
            this.$soundmanager.stop('t_'+this.currentPlaylistTrackId);
        },

        computed: {
            playlists: function() {
                return this.shared.activity.currentActivity.activity.feedback_options;
            }
        },

        methods: {
            initSound() {
                var vm = this;
                var activity = this.shared.activity.currentActivity.activity;
                for(var i in activity.feedback_options) {
                    for(var j in activity.feedback_options[i].video_ids) {

                        var videoId = 't_'+j;
                        var url = 'https://s3-us-west-2.amazonaws.com/ntlgroup/dashboard/music/'+j+'.mp3';
                        var track = vm.$soundmanager.addSound(videoId, url)
                        vm.sounds[videoId] = track;
                    }
                }

                this.$soundmanager.addSound('timewarning', 'https://s3-us-west-2.amazonaws.com/ntlgroup/dashboard/music/EyesClosedVoice.wav')
            },
            changePlaylist () {
                this.currentPlaylist = this.playlists[this.currentPlaylistId];
                this.currentPlaylistTrackId = this.currentPlaylist.video_ids[0];
            },
            onInThreshold () {
                if(this.isPlaying) {
                    this.$soundmanager.setVolume(this.shared.volume);
                }
            },
            onOutOfThreshold () {
                if(this.isPlaying) {
                    this.$soundmanager.setVolume(0);
                }
            },

            // Youtube
            play () {
                this.$soundmanager.stop('t_'+this.currentlyPlaying);
                this.currentlyPlaying = this.currentPlaylistTrackId;
                this.$soundmanager.play('t_'+this.currentPlaylistTrackId);
                this.isPlaying = true;
            }

        },
        components: {}
    }
</script>
