<style>
    .center-text {
        margin-top: 320px;
        padding: 20px;
        background-color: rgba(0,0,0,0.7);
        width: 80%;
        margin-left: 10%;
        border-radius: 4px;
    }

    .center-text h4 {
        font-size: 34px;
        color: #ddd;
    }
</style>

<template>
    <div>
        <div class="center-text">
            <h4>Eyes Closed</h4>
        </div>
    </div>
</template>

<script>
    import sharedData from '../sharedData.js';
    import ActivityViewMixin from '../mixins/ActivityViewMixin.js'
    export default {
        mixins: [ActivityViewMixin],
        data () {
            return {
                shared: sharedData,
                messages: [],
                transparency: 0,
                tcpClient: null
            }
        },
        ready () {

            this.initDimmer();

            // Dev
            if(process.env.NODE_ENV === 'development') {
                this.initDimmer();
                var direction = 1;
                window.setInterval(function() {
                    if(direction) {
                        this.onInThreshold()
                    }else {
                        this.onOutOfThreshold()
                    }
                    direction = !direction;
                }.bind(this), 1000);

            }
        },

        computed: {
            url () {
               return this.shared.activity.currentActivity.activity.url + '?client_id='+this.shared.user.id
            },
            frameStyle () {
                if(this.shared.neurocoach.connected || process.env.NODE_ENV === 'development') {
                    return {
                        opacity: 1 - this.transparency
                    }
                }
                return {opacity: 0};
            },
            iFrameSource () {
                var currentActivity = this.shared.activity.currentActivity;
                if(currentActivity && currentActivity.activity && currentActivity.activity.url) {
                    return currentActivity.activity.url;
                }
                return '';
            }
        },
        methods: {
            setUserAgent (window, userAgent) {
                if (window.navigator.userAgent != userAgent) {
                    var userAgentProp = { get: function () { return userAgent; } };
                    try {
                        Object.defineProperty(window.navigator, 'userAgent', userAgentProp);
                    } catch (e) {
                        window.navigator = Object.create(navigator, {
                            userAgent: userAgentProp
                        });
                    }
                }
            },

            initDimmer () {
//                if(this.$dimmer.i
            },
            handleDimming (transparency) {

            },
            onInThreshold () {

            },
            onOutOfThreshold () {
            }
        },
        components: {}
    }
</script>
