<style>
    /* */
</style>

<template>
    <div class="iframe-container">
        <iframe id="main-iframe"
                scrolling="no"
                seamless="seamless"
                :src="url"
                security="restricted"
        ></iframe>
        <div    v-bind:style="frameStyle"
                class="iframe-overlay"></div>

    </div>
</template>

<script>
    import sharedData from '../sharedData.js';
    import ActivityViewMixin from '../mixins/ActivityViewMixin.js'

    export default {
        mixins: [ ActivityViewMixin ],
        data () {
            return {
                shared: sharedData,
                messages: [],
                opacity: 0,
                tcpClient: null
            }
        },
        ready () {
            if(this.shared.coach.pin) {
                this.initDimmer();
            }
//            this.$on('neurofeedback.threshold_changed', function(inThreshold) {
//                console.log(inThreshold);
//                if(inThreshold) {
//                    this.onInThreshold();
//                }else  {
//                    this.onOutOfThreshold();
//                }
//            }.bind(this))
            // Dev
//            if(process.env.NODE_ENV === 'development') {
//
//                var direction = 1;
//                window.setInterval(function() {
//                    if(direction) {
//                        this.onInThreshold()
//                    }else {
//                        this.onOutOfThr eshold()
//                    }
//                    direction = !direction;
//                }.bind(this), 1000);
//
//            }
        },

        computed: {
            url () {
                var lang = this.$lang.getLang();
               return this.shared.activity.currentActivity.activity.url + '?client_id='+this.shared.user.id+'&lang='+lang;
            },
            frameStyle () {
                if(this.shared.neurocoach.connected || process.env.NODE_ENV === 'development') {
                    return {opacity: this.opacity}
                }
                return {opacity: 0};
            },
            iFrameSource () {
                var currentActivity = this.shared.activity.currentActivity;
                if(currentActivity && currentActivity.activity && currentActivity.activity.url) {
                    return currentActivity.activity.url;
                }
                return '';
            }
        },
        methods: {
            setUserAgent (window, userAgent) {
                if (window.navigator.userAgent != userAgent) {
                    var userAgentProp = { get: function () { return userAgent; } };
                    try {
                        Object.defineProperty(window.navigator, 'userAgent', userAgentProp);
                    } catch (e) {
                        window.navigator = Object.create(navigator, {
                            userAgent: userAgentProp
                        });
                    }
                }
            },

            initDimmer () {
//                if(this.$dimmer.initialized == false) {
                this.$dimmer.removeCallbacks();
                this.$dimmer.addCallback(this.handleDimming);
                this.$dimmer.setDirection(this.shared.neurocoach.inThreshold)
                this.$dimmer.initialized = true;
//                }
                this.$dimmer.start();
            },
            handleDimming (opacity) {
//                console.log('Handling Dimming');
                this.opacity = opacity;
            },
            onInThreshold () {
//                console.log('Setting Direction to 1, opacity is ' + this.$dimmer.opacity + ', callback count: ' + this.$dimmer.callbacks.length)
                this.$dimmer.setDirection(1);
            },
            onOutOfThreshold () {
//                console.log('Setting Direction to 0, opacity is ' + this.$dimmer.opacity + ', callback count: ' + this.$dimmer.callbacks.length)
                this.$dimmer.setDirection(0);
            }
        },
        components: {}
    }
</script>
