<style>
    /* */
</style>

<template>
    <div class="iframe-container">
        COOLMATH GAMES

        <webview id="foo" src="https://www.coolmath-games.com/" style="display:inline-flex; width:100%; height:100%" plugins></webview>
        <div    v-bind:style="frameStyle"
                class="iframe-overlay"></div>

    </div>
</template>

<script>
    import sharedData from '../sharedData.js';
    import ActivityViewMixin from '../mixins/ActivityViewMixin.js'

    export default {
        mixins: [ActivityViewMixin],
        data () {
            return {
                shared: sharedData,
                messages: [],
                opacity: 0,
                tcpClient: null
            }
        },
        ready () {

            this.initDimmer();

            // Dev
//            if(process.env.NODE_ENV === 'development') {
//                this.initDimmer();
//                var direction = 1;
//                window.setInterval(function() {
//                    if(direction) {
//                        this.onInThreshold()
//                    }else {
//                        this.onOutOfThreshold()
//                    }
//                    direction = !direction;
//                }.bind(this), 1000);
//
//            }
        },

        computed: {
            url () {
               return this.shared.activity.currentActivity.activity.url + '?client_id='+this.shared.user.id
            },
            frameStyle () {
                if(this.shared.neurocoach.connected || process.env.NODE_ENV === 'development') {
                    return {opacity: this.opacity}
                }
                return {opacity: 0};
            },
            iFrameSource () {
                var currentActivity = this.shared.activity.currentActivity;
                if(currentActivity && currentActivity.activity && currentActivity.activity.url) {
                    return currentActivity.activity.url;
                }
                return '';
            }
        },
        methods: {
            setUserAgent (window, userAgent) {
                if (window.navigator.userAgent != userAgent) {
                    var userAgentProp = { get: function () { return userAgent; } };
                    try {
                        Object.defineProperty(window.navigator, 'userAgent', userAgentProp);
                    } catch (e) {
                        window.navigator = Object.create(navigator, {
                            userAgent: userAgentProp
                        });
                    }
                }
            },

            initDimmer () {
//                if(this.$dimmer.initialized == false) {
                this.$dimmer.removeCallbacks();
                this.$dimmer.addCallback(this.handleDimming);
                this.$dimmer.setDirection(this.shared.neurocoach.inThreshold)
                this.$dimmer.initialized = true;
//                }
                this.$dimmer.start();
            },
            handleDimming (opacity) {
                this.opacity = opacity;
            },
            onInThreshold () {
                console.log('Setting Direction to 1, dimAmount is ' + this.$dimmer.dimAmount + ', callback count: ' + this.$dimmer.callbacks.length)
                this.$dimmer.setDirection(1);
            },
            onOutOfThreshold () {
                console.log('Setting Direction to 0, dimAmount is ' + this.$dimmer.dimAmount + ', callback count: ' + this.$dimmer.callbacks.length)
                this.$dimmer.setDirection(0);
            }
        },
        components: {}
    }
</script>
