<style>
    .activity-center-container {
        position: relative;
        width: 100%;
        margin-top: 25%;
        height: 200px;
        background-color: rgba(0,0,0,0.6);

        font-size: 3em;
        font-weight: bold;
    }
    .activity-center-label {
        display: block;
        padding-top: 55px;
        color: white;
        height: 100%;
        width: 100%;
        vertical-align: middle;
    }
</style>

<template>
    <div>
        <div class="activity-center-container">
            <span class="activity-center-label">Eyes Closed</span>
        </div>
    </div>
</template>

<script>
    import sharedData from '../sharedData.js';
    import ActivityViewMixin from '../mixins/ActivityViewMixin.js'
    export default {
        mixins: [ActivityViewMixin],
        data () {
            return {
                shared: sharedData,
                messages: [],
            }
        },
        ready () {
// Dev
            if(process.env.NODE_ENV === 'development') {
                var started = 1;
                window.devInterval = window.setInterval(function() {
                    if(started) {
                        this.onOutOfThreshold()
                    }else {
                        this.onInThreshold()
                    }
                    started = !started;
                }.bind(this), 1000);

            }
        },

        beforeDestroy () {
            window.clearInterval(window.devInterval);
        },

        methods: {
            onInThreshold () {
                console.log('Starting Music')
                this.$dispatch('music.shouldPause', 0)
            },
            onOutOfThreshold () {
                console.log('Stopping Music')
                this.$dispatch('music.shouldPause', 1)
            }
        },
        components: {}
    }
</script>
