<style>

</style>

<template>
    <div class="col-xs-12 clock-container">

        <h3 class="timer-title" v-if="!hasEnded">{{ $lang.get('time_remaining') }}</h3>
        <h3 class="timer-title" v-if="hasEnded">Your Activity is Complete!</h3>
        <div class="clock" v-if="!hasEnded">
            {{ timerLabel }}
        </div>
        <div class="clock" v-if="hasEnded && shared.activity.nextActivity">
            <button class="btn btn-sm btn-success" @click="gotoNextActivity()">
                {{ $lang.get('continue') }}
            </button>
        </div>
        <div class="clock-controls">
            <a @click="previousActivity()"
               v-if="prevButtonVisible"
               class="btn btn-xs btn-inverse">
                <i class="icon-chevron-left"></i>
            </a>
            <a v-if="!hasEnded"
               @click="toggleTimer();"
               class="btn btn-xs btn-inverse">
                <i :class="{'icon-play': paused, 'icon-pause': !paused}"></i>
            </a>
            <a @click="gotoNextActivity()"
               v-if="nextButtonVisible"
               class="btn btn-xs btn-inverse"><i class="icon-chevron-right"></i></a>
        </div>
    </div>
</template>

<script>
    import sharedData from '../sharedData.js'
    export default {
        data () {
            return {
                shared: sharedData,
                started: false,
                hasEnded: false,
                paused: true,
                totalTime: 0,
                remainingTime: 0,
                timerInterval: 0,
            }
        },
        ready () {
            this.$on('activities.started', function() {
                this.startForCurrentActivity();
            }.bind(this));
        },
        computed: {
            timerLabel () {
                return this.formatTime(this.remainingTime);
            },
            timeElapsed () {
                return this.totalTime - this.remainingTime;
            },
            prevButtonVisible () {

                if(this.shared.activity.currentActivityIndex == 0) {
                    return false;
                }
                return true;
            },
            nextButtonVisible() {

                if(this.shared.activity.currentActivityIndex == this.shared.activity.activities.length - 1) {
                    return false;
                }
                return true;
            },
        },
        methods: {
            formatTime (seconds) {

                var numminutes = Math.round(Math.floor((((seconds % 31536000) % 86400) % 3600) / 60)) + '';
                var numseconds = Math.round((((seconds % 31536000) % 86400) % 3600) % 60) + '';

                if (numminutes.length === 1) numminutes = "0" + numminutes;
                if (numseconds.length === 1) numseconds = "0" + numseconds;

                return numminutes + "m:" + numseconds + "s";

            },
            startForCurrentActivity () {
                var currentActivity = this.shared.activity.currentActivity;
                if(currentActivity && currentActivity.duration) {
                    this.totalTime = currentActivity.duration;
                    this.remainingTime = currentActivity.duration;
                    this.start();
                }
            },
            start () {
                this.started = true;
                this.paused = false;
                this.hasEnded = false;
                this.timerInterval = window.setInterval(function() {
                    if(!this.paused) {
                        this.remainingTime = this.remainingTime -  1;
                        //console.log(this.remainingTime);
                        if(this.remainingTime <= 0) {
                            this.remainingTime = 0;
                            this.paused = true;
                            this.hasEnded = true;
                            this.handleTimerEnded();
                        }

                        this.$dispatch('timer.tick', this.remainingTime);
                    }
                }.bind(this), 1000);
            },
            handleTimerEnded () {
                this.started = false;
                this.paused = false;
                this.remainingTime = 0;
                this.totalTime = 0;
                this.$dispatch('timer.stopped');
                var currentActivity = this.shared.activity.currentActivity;
                if(currentActivity && currentActivity.auto_end) {
                    this.gotoNextActivity();
                }else {
                    this.hasEnded = true;
                }
            },
            stop () {
                window.clearInterval(this.timerInterval);
            },
            reset () {
                this.stop();
                this.remainingTime = 0;
                this.totalTime = 0;
                this.started = false;
                this.paused = true;
                this.hasEnded = false;
            },
            gotoNextActivity () {
                var a = this.shared.activity;

                // If there is a next activity,
                if(a.activities[a.currentActivityIndex+1]) {
                    // set previous activity
                    a.previousActivity = a.currentActivity;
                    // make it current
                    a.currentActivityIndex = a.currentActivityIndex + 1;
                    a.currentActivity = a.activities[a.currentActivityIndex];

                    // set next activity
                    if(a.activities[a.currentActivityIndex+1]) {
                        a.nextActivity = a.activities[a.currentActivityIndex + 1];
                    }
                    this.reset();
                    this.$dispatch('activities.changed');
                }
            },
            previousActivity () {
                var a = this.shared.activity;

                // If there is a next activity,
                if(a.activities[a.currentActivityIndex-1]) {
                    // set previous activity
                    a.nextActivity = a.currentActivity;
                    // make it current
                    a.currentActivityIndex = a.currentActivityIndex - 1;
                    a.currentActivity = a.activities[a.currentActivityIndex];

                    // set next activity
                    if(a.activities[a.currentActivityIndex-1]) {
                        a.previousActivity = a.activities[a.currentActivityIndex - 1];
                    }
                    this.reset();
                    this.$dispatch('activities.changed');
                }
            },
            nextStep () {
                //console.log('next stepping');
            },
            toggleTimer () {
                this.paused = !this.paused;
            },
        },
        components: {}
    }
</script>
