<style>
    /* */
</style>

<template>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 widget-container">
            <div class="widget-box widget-color-dark" v-if="!licenseIsValid">
                <div class="widget-header">
                    <h5 class="widget-title">
                        <i class="fa fa-warning"></i>
                        License Information
                    </h5>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <h4>{{ invalidLicenseReason }}</h4>

                        <div class="row">
                            <div class="col-xs-12 form-horizontal">
                                <div class="alert alert-danger" v-if="registrationError">
                                    {{ registrationError }}
                                </div>
                                <h5>If you have an activation code, please enter it below:</h5>
                                <div class="form-group">
                                    <label for="inputID" class="col-sm-2 control-label">Code</label>
                                    <div class="col-sm-10">
                                        <input type="text" v-model='registrationCode' id="inputID" class="form-control" value="" title="" required="required" >
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button class="btn btn-success" @click="registerWithCode(registrationCode)">
                                        Activate
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="widget-box widget-color-dark" v-if="licenseIsValid">
                <div class="widget-header">
                    <h5 class="widget-title">Login</h5>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div v-if="needsUpdate" class="alert alert-info">
                            <div class="row">
                                <div class="col-xs-12">
                                    <i class="ace-icon icon-warning-sign bigger-240"></i>
                                    <h5 style="padding-left: 25px; display: inline-block;">An updated version of NeuroPathway is available.</h5>
                                    <button
                                            @click="openUpdateWindow()"
                                            class="btn pull-right btn-info">Update Now</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal">

                            <div class="form-group">
                                <label for="username" class="col-sm-2 control-label">Username:</label>
                                <div class="col-sm-10">
                                    <input type="text" v-model="shared.username" name="username" id="username" class="form-control" required="required" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-sm-2 control-label">Password:</label>
                                <div class="col-sm-10">
                                    <input type="password" v-model="shared.password" name="password" id="password" class="form-control" required="required" >
                                </div>
                            </div>
                        </div>

                        <div class="well">
                            <button @click="tryLogin(username, password)" class="btn btn-info">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import sharedData from '../sharedData.js';

    export default {
        data () {
            return {
                shared: sharedData,
                loading: true,
                needsUpdate: false,
                licenseIsValid: true,
                registrationError: 'Checking Registration',
                registrationCode: false,
            }
        },
        ready () {
            // Check if there is an update
            // Check if the license is valid
            // Display login form

            if(process.env.NODE_ENV === 'development') {
                this.shared.username = 'jdoe';
                this.shared.password = 'pass';
            }
        },
        methods: {
            openUpdateWindow () {
                alert('hey');
            },
            registerWithCode (code) {

            },
            tryLogin (username, password) {
                var vm = this;
                this.$http.get('https://dashboard.myhealthybrain.net/rest/auth-check?username=' + this.shared.username + '&password=' + this.shared.password)
                        .then(function (response) {
                            if (response.data.success) {
                                // Do stuff to set up first activity and
                                // Rest of program
                                this.shared.user.first_name = response.data.first_name;
                                this.shared.user.id = response.data.patient_id;

                                this.setupActivities();
                            }
                        }.bind(this));
            },
            setupActivities () {
                this.$http.get('https://dashboard.myhealthybrain.net/rest/neuropathway/'+this.shared.user.id).then(function(response) {
                    if(response.data.data && response.data.data.length) {
                        //console.log('got them.');
                        this.shared.activity.activities = response.data.data;
                        this.shared.activity.playlist = response.data.playlist;
                        this.$parent.setActivityByIndex(0);
                        this.$router.go('activitySetup');
                    }
                }.bind(this))
            }
        },
        components: {}
    }
</script>
