<style>
    /* */
</style>

<template>

    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 widget-container">
            <div class="widget-box widget-color-dark" v-if="!licenseIsValid">
                <div class="widget-header">
                    <h5 class="widget-title">
                        <i class="fa fa-warning"></i>
                        License Information
                    </h5>
                </div>

                <div class="widget-body">
                    <div class="widget-main">


                        <div class="row">
                            <div class="col-xs-12 form-horizontal">
                                <div class="alert alert-danger" v-if="registrationError">
                                    {{ registrationError }}
                                </div>
                                <h5>If you have an activation code, please enter it below:</h5>
                                <div class="form-group">
                                    <label for="inputID" class="col-sm-2 control-label">Code</label>
                                    <div class="col-sm-10">
                                        <input type="text" v-model='registrationCode' id="inputID" class="form-control" value="" title="" required="required" >
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button class="btn btn-success" @click="registerWithCode(registrationCode)">
                                        Activate
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="widget-box widget-color-dark" v-if="licenseIsValid">
                <div class="widget-header">
                    <h5 class="widget-title">{{ $lang.get('login') }}</h5>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div class="alert alert-danger" v-if="loginErrorMessage">
                            Sorry, your username or password was incorrect. Please try again.
                        </div>
                        <div v-if="newVersionAvailable" class="alert alert-info">
                            <div class="row">
                                <div class="col-xs-12">
                                    <i class="ace-icon icon-warning-sign bigger-240"></i>
                                    <h5 style="padding-left: 25px; display: inline-block;">An updated version of NeuroPathway is available.</h5>
                                    <button
                                            @click="openUpdateWindow()"
                                            class="btn pull-right btn-info">Update Now</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal">

                            <div class="form-group">
                                <label for="username" class="col-sm-2 control-label">{{ $lang.get('username') }}:</label>
                                <div class="col-sm-10">
                                    <input type="text" v-model="shared.username" name="username" id="username" class="form-control" required="required" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-sm-2 control-label">{{ $lang.get('password') }}:</label>
                                <div class="col-sm-10">
                                    <input type="password" v-model="shared.password" name="password" id="password" class="form-control" required="required" >
                                </div>
                            </div>
                        </div>

                        <div class="well">
                            <button @click="tryLogin(username, password)" :class="{'btn': true, 'btn-info': true, 'disabled': loading}">
                                <span v-if="loading">Loading...</span>
                                <span v-else>{{ $lang.get('login') }}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import sharedData from '../sharedData.js'
    const { remote } = require('electron');
    const { BrowserWindow } = remote;
    import macaddress from 'macaddress';
    import Promise from 'promise';
//    import  machineUuid  from 'machine-uuid';
//    var fs = require('fs');
//    var eeMachineId = require('ee-machine-id');
//    import {machineIdSync} from 'node-machine-id';
//    const fs = require('fs')
//    const storage = require('electron-json-storage');

    export default {
        data () {
            return {
                shared: sharedData,
                loading: false,
                needsUpdate: false,
                licenseIsValid: true,
                invalidLicenseReason: '',
                loginErrorMessage: '',
                registrationError: 'Checking Registration',
                registrationCode: '',
                messages: [],
                newVersionAvailable: false,
                machineId: null,
            }
        },
        ready () {
            var vm = this;
//            machineUuid(function(uuid) {
//                vm.machineId = uuid;
//            })
//            eeMachineId.get(function(id) {
//                this.machineId = id;
//            }.bind(this))

            if(process.env.NODE_ENV === 'development') {
                this.shared.username = 'jdoe';
                this.shared.password = 'john';
//                this.tryLogin(this.shared.username, this.shared.password);
//                this.licenseIsValid = true;
            }else {
                // Check if there is an update

                // Check if the license is valid
//                this.checkLicense();
            }
            this.checkForNewVersion();
//            this.checkLicense();



        },
        methods: {
            openUpdateWindow () {
                let win = new BrowserWindow({width: 800, height: 600, frame: true})
                win.loadURL('http://portal.myhealthybrain.net/activities/neuropathway/update.php?version='+this.shared.versionString)
                win.show()
            },
            registerWithCode (code) {

            },
            checkForNewVersion () {
                this.$http.get('http://portal.myhealthybrain.net/activities/neuropathway/check_json.php').then(function(response) {
                    var serverVersion = '' +response.data.version;
                    var currentVersion = this.shared.versionString;

                    console.log(serverVersion);
                    console.log(currentVersion);

                    if(this.versionCompare(currentVersion, serverVersion) == -1) {
                        this.newVersionAvailable = true;
                    }else {
                        this.newVersionAvailable = false;
                    }
                }.bind(this));
            },
            registerWithCode (code) {
//                var machineId = machineIdSync();
                var machineId = this.machineId;
                console.log('machineId = ' + machineId);
                this.checkMacAddress().then(function(address) {
                    var url = 'https://dashboard.myhealthybrain.net/rest/software-licenses/request-activation?code='+code+'&computer_uuid='+address+'&machine_id='+machineId;
                    this.$http.get(url).then(function(response) {
                        //console.log(response);
                        if(response.data.success) {
                            var code = response.data.data.code;
                            this.$storage.put('license_code', code);
                            this.licenseIsValid = true;
                            this.shared.licenseCode = code;
                        }else {
                            this.registrationError = response.data.message
                        }
                    }.bind(this));
                }.bind(this));
            },
            checkMacAddress() {
                var promise = new Promise(function(resolve, reject) {
                    macaddress.one(function(err, address) {
                        var address = address.replace(new RegExp(':', 'g'), '-').toUpperCase()
                        resolve(address);
                    });
                });
                return promise;
            },
            versionCompare(v1, v2, options) {
                var lexicographical = options && options.lexicographical,
                        zeroExtend = options && options.zeroExtend,
                        v1parts = v1.split('.'),
                        v2parts = v2.split('.');

                function isValidPart(x) {
                    return (lexicographical ? /^\d+[A-Za-z]*$/ : /^\d+$/).test(x);
                }

                if (!v1parts.every(isValidPart) || !v2parts.every(isValidPart)) {
                    return NaN;
                }

                if (zeroExtend) {
                    while (v1parts.length < v2parts.length) v1parts.push("0");
                    while (v2parts.length < v1parts.length) v2parts.push("0");
                }

                if (!lexicographical) {
                    v1parts = v1parts.map(Number);
                    v2parts = v2parts.map(Number);
                }

                for (var i = 0; i < v1parts.length; ++i) {
                    if (v2parts.length == i) {
                        return 1;
                    }

                    if (v1parts[i] == v2parts[i]) {
                        continue;
                    }
                    else if (v1parts[i] > v2parts[i]) {
                        return 1;
                    }
                    else {
                        return -1;
                    }
                }

                if (v1parts.length != v2parts.length) {
                    return -1;
                }

                return 0;
            },
            tryLogin (username, password) {
                var vm = this;
                vm.loading = true;
                if(process.env.NODE_ENV === 'development') {
                    var url = 'http://local.ntldashboard.com/rest/auth-check';
                }else {
                    var url = 'https://dashboard.myhealthybrain.net/rest/auth-check';
                }
                // url = 'https://dashboard.myhealthybrain.net/rest/auth-check';

//                var url = 'http://local.ntldashboard.com/rest/auth-check';
                this.$http.get(url + '?username=' + this.shared.username + '&password=' + this.shared.password)
                        .then(function (response) {
                            if (response.data.success) {
                                // Do stuff to set up first activity and
                                // Rest of program
                                this.shared.user.first_name = response.data.first_name;
                                this.shared.user.id = response.data.patient_id;
                                this.shared.activity.activities = response.data.activities;
                                this.shared.playlist = response.data.playlist;
                                this.$parent.setActivityByIndex(0);
                                this.$router.go('activitySetup');
                                this.$dispatch('activities.loaded');
                                this.loginErrorMessage = true;
                                vm.loading = false;
//                                this.setupActivities();
                            }else {
                                this.loginErrorMessage = true;
                                this.loading = false;
                            }
                        }.bind(this),
                        function(response) {
                            console.log(response)
                        });
            },
            setupActivities () {
                this.$http.get('https://dashboard.myhealthybrain.net/rest/neuropathway/'+this.shared.user.id).then(function(response) {
                    if(response.data.data && response.data.data.length) {
                        //console.log('got them.');

                    }
                }.bind(this))
            }
        },
        components: {}
    }
</script>
