<style>

</style>

<template>
    <div class="col-xs-12 music-container videogular-container">
        <div>
            <button class="btn btn-inverse btn-sm play-button" >
                <i :class="{'icon-pause': isPlaying, 'icon-play': !isPlaying}" @click="togglePause()"></i>
            </button>
            <span class="time-label">
                {{ trackId }}<br>
                {{ timeText }}
            </span>
        </div>
        <div style="margin-top: 10px;">
            <a class="btn btn-inverse btn-xs" @click="volumeDown()">-</a>
            <a class="btn btn-inverse btn-xs" @click="volumeUp()">+</a>
            <span class="volume-label">{{ $lang.get('volume') }}: {{ shared.volume }}</span>
        </div>



    </div>
</template>

<script>
    import SM from 'soundmanager2'
    import sharedData from '../sharedData.js'

    var SoundManager = SM.soundManager;
    export default {
        data () {
            return {
                shared: sharedData,
                currentTrackIndex: 0,
                isPlaying: false,
                timeText: 'Stopped',
                tracks: [],
                playlist: []
            }
        },
        ready () {
            this.timeText = this.$lang.get('stopped')
            this.$watch('shared.activity.activies', this.activitiesLoaded)

            this.$on('activities.loaded', function() {
                this.activitiesLoaded();
            }.bind(this))

            this.$on('music.setPause', function(setPause) {
                if(setPause) {
                    this.pause();
                }else {
                    this.play();
                }
            }.bind(this))
        },
        computed: {
            trackId: function() {
                return (this.currentTrackIndex + 1) + ' / ' + this.playlist.length;
            }
        },
        methods: {

            msToMinSec (duration) {
                var milliseconds = parseInt((duration%1000)/100)
                        , seconds = parseInt((duration/1000)%60)
                        , minutes = parseInt((duration/(1000*60))%60)
                        , hours = parseInt((duration/(1000*60*60))%24);

                hours = (hours < 10) ? "0" + hours : hours;
                minutes = (minutes < 10) ? "0" + minutes : minutes;
                seconds = (seconds < 10) ? "0" + seconds : seconds;

                return minutes + ":" + seconds;
            },
            onfinish: function(sound) {
                var vm = this;
                vm.currentTrackIndex++;
                if (vm.currentTrackIndex < vm.tracks.length) {
                    vm.tracks[vm.currentTrackIndex].play();
                }else {
                    vm.currentTrackIndex = 0;
                    vm.isPlaying = false;
                    SoundManager.stop();
                }
            },
            whileplaying: function(sound) {
                var vm = this;
                vm.timeText = vm.msToMinSec(sound.position) + '/' + vm.msToMinSec(sound.duration);
            },
            activitiesLoaded () {
                var playlist = this.shared.playlist;
                this.playlist = playlist;
                var vm = this;
                //console.log(playlist);
                if (playlist && playlist.length ) {

                    for (var i = 0; i<playlist.length; i++) {
                        var trackInfo = playlist[i];
                        var track = this.$soundmanager.addSound('dls_' + (i + 1), trackInfo.url, this.onfinish, this.whileplaying);
                        vm.tracks.push(track)
                    }

                    console.log(process.env.NODE_ENV);
                    if(process.env.NODE_ENV != 'development') {
                        vm.tracks[0].play();
                    }

                    vm.isPlaying = true;

                    this.$soundmanager.setVolume(this.shared.volume);
                }
            },

            volumeUp () {
                if(this.shared.volume < 100) {
                    this.shared.volume += 1;
                    this.$soundmanager.setVolume(this.shared.volume);
                }
            },
            volumeDown () {
                if(this.shared.volume > 1) {
                    this.shared.volume -= 1;
                    this.$soundmanager.setVolume(this.shared.volume);
                }
            },
            togglePause () {
                var trackId = this.tracks[this.currentTrackIndex].id;
                if(this.isPlaying) {
                    this.$soundmanager.pause(trackId);
                }else {
                    this.$soundmanager.play(trackId);
                }
                this.isPlaying = !this.isPlaying;
            },

            pause() {
                var trackId = this.tracks[this.currentTrackIndex].id;
                if(this.isPlaying) {
                    this.$soundmanager.pause(trackId);
                }
                this.isPlaying = false;
            },

            play() {
                var trackId = this.tracks[this.currentTrackIndex].id;
                if(!this.isPlaying) {
                    this.$soundmanager.play(trackId);
                }
                this.isPlaying = true;
            }
        },
        components: {}
    }
</script>
