<style>
    #neurocoach-button {
        display: inline-block;
        float: left;
    }
</style>

<template>
    <div class="col-xs-12" id="settings-buttons-container">
        <!-- Neurocoach Button -->
        <div  id="neurocoach-button" :class="neurocoachButtonContainerStyle">

            <a href="javascript:;"
               data-disable-animate
               data-tooltip="Neurocoach Settings"
               data-tooltip-placement="right"
               :class="neurocoachButtonStyles"

               id="nc-settings-button">
                <i class="icon-lightbulb bigger-180"></i>
            </a>
        </div>
    </div>
</template>

<script>
    import sharedData from '../sharedData.js';

    export default {
        data () {
            return {
                shared: sharedData,
                ncConnected: false,
                inThreshold: false,
                ip: '192.168.1.134',
                port: 57318
            }
        },
        ready () {
            this.$on('neurocoach.connect', function(tcpClient) {
                //console.log('neurocoach connecting');
                tcpClient.connect(this.port, this.ip);
                tcpClient.registerDataCallback(this.handleServerMessage);
                tcpClient.registerConnectedCallback(this.handleConnectionChange);
                this.tcpClient = tcpClient;
            }.bind(this));

            this.$on('neurocoachConnector.kill', function() {
                if(this.tcpClient) {
                 this.tcpClient.destroy();
                }
                this.tcpClient = null;
            }.bind(this));
        },
        computed: {
            neurocoachButtonContainerStyle () {
                return {
                    'no-transition': true,
                    'not-in-threshold-border': !this.inThreshold
                }
            },
            neurocoachButtonStyles () {
                return {
                    btn: true,
                    'btn-danger': !this.ncConnected,
                    'btn-success': this.ncConnected,
                }
            },
            setupTcpServerForTesting () {
                this.$tcpServer.listen('127.0.0.1', 8789, function(data) {
                    //console.log(data)
                });

                var shouldClose = true;
                window.setInterval(function() {
                    if(shouldClose) {
                        this.$tcpServer.close();
                    }else {
                        this.$tcpServer.listen('127.0.0.1', 8789, function(data) {
                            //console.log(data)
                        });
                    }
                    shouldClose = !shouldClose;
                }.bind(this), 2000);
            }
        },
        methods: {
            handleServerMessage (message) {
//                console.log(message);
//                console.log('Checking ')
                var vm = this;
                try {
                    var code = message[0];
                    if(code == 0) {
                        vm.inThreshold = false;
//                        console.log('out of thresh');
                        vm.shared.neurocoach.inThreshold = false;
                    }else {
//                        console.log('in thresh');
                        vm.inThreshold = true;
                        vm.shared.neurocoach.inThreshold = true;
                    }
                    this.$dispatch('neurocoachConnector.threshold_changed', vm.shared.neurocoach.inThreshold);
                }
                catch(e) {
                    console.error(e);
                }
            },
            handleServerError (error) {
                //console.log('[NC Connector] Error: ' + error);
            },
            handleConnectionChange (isConnected) {
                //console.log('Connected: ' + isConnected);
                this.ncConnected = isConnected;
            }
        },
        components: {}
    }
</script>
