<style>
  @import url(https://fonts.googleapis.com/css?family=Lato:300);

  * {
    margin: 0;
    padding: 0;
  }

  html,
  body { height: 100%; }

  body {
    align-items: center;
    background:
            radial-gradient(
                    ellipse at center,
                    rgba(255, 255, 255, 1) 0%,
                    rgba(229, 229, 229, .85) 100%
            );
    background-position: center;
    display: flex;
    font-family: Lato, Helvetica, sans-serif;
    font-weight: bold;
    justify-content: center;
    text-align: center;
  }
</style>

<template>
  <div>
    <div class="container" id="main-container">
      <div id="main" class="row">
        <div class='col-xs-12 animated cube' id='main-view' ui-view>
          <router-view transition="fade" transition-mode="out-in"></router-view>
        </div>
      </div>
      <div class="row" id="footer">
        <div class="col-xs-12" style="margin-bottom: 50px; margin-top: 10px;">
          <div>
            <img src="assets/images/neuropathways-white.png" alt="Logo" class="img img-responsive">
          </div>
          <div id="versionContainer" style="color: #666;">{{ shared.versionString }}</div>
          <div style="color: #666;">{{ shared.user.id }}</div>
          <div style="color: #666;">{{ $lang.get('dimmer_speed') }}: {{ shared.dimmer.speed }}</div>
          <div  style="color: #666;"><a @click="backToLogin()" href="#">{{ $lang.get('back_to_login') }}</a></div>

        </div>
        <activity-timer></activity-timer>

        <music-player></music-player>

        <div class="col-xs-12 activities-container" data-ng-controller="ActivityController">
          <div id="activities">
            <h3>{{ $lang.get('current_activity') }}:</h3>
            <span class="activity-name">
              <span v-if="shared.activity.currentActivity">{{ shared.activity.currentActivity.activity.name }}</span>
            </span>
            <div class="space-10"></div>
            <h3>{{ $lang.get('up_next') }}:</h3>
            <span class="activity-name">
              <span v-if="shared.activity.nextActivity">{{ shared.activity.nextActivity.activity.name }}</span>
              <span v-else>{{ $lang.get('none') }}</span>
            </span>
          </div>
        </div>
        <neurocoach-connector></neurocoach-connector>
      </div>
    </div>

    <div v-if="shared.user.id">
      <script>
          window['_fs_debug'] = false;
          window['_fs_host'] = 'www.fullstory.com';
          window['_fs_org'] = '25ZDB';
          window['_fs_namespace'] = 'FS';
          (function(m,n,e,t,l,o,g,y){
              if (e in m && m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].'); return;}
              g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
              o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
              y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
              g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};
              g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
              g.clearUserCookie=function(c,d,i){if(!c || document.cookie.match('fs_uid=[`;`]*`[`;`]*`[`;`]*`')){
                  d=n.domain;while(1){n.cookie='fs_uid=;domain='+d+
                      ';path=/;expires='+new Date(0).toUTCString();i=d.indexOf('.');if(i<0)break;d=d.slice(i+1)}}};
          })(window,document,window['_fs_namespace'],'script','user');

          FS.identify('{{ shared.user.id }}', {
              displayName: '{{ shared.user.first_name }}',
              username: '{{ shared.username }}',
          });
      </script>
    </div>

  </div>
</template>

<script>
    import store from 'src/vuex/store'
    import sharedData from './sharedData.js'
    var MusicPlayer = require('./components/MusicPlayer.vue')
    var NeurocoachConnector = require('./components/NeurocoachConnector.vue')
    var ActivityTimer = require('./components/ActivityTimer.vue')

    export default {
        data: function() {
            return {
                shared: sharedData
            }
        },
        ready: function() {
//            this.$lang.setLang('en')
            console.log(this.$store.getters)
            // Initialize License Code
            this.shared.licenseCode = (this.$storage.get('license_code')) ? this.$storage.get('license_code') : '';
            // Set listener for when all activities have been loaded
            this.initListeners();

            // Init SoundManager
            this.$soundmanager.init();

            window.clearInterval(window.devInterval);

        },
        computed: {
            neurocoachButtonStyles: function() {
                let styles = {
                    btn: true,
                    'btn-sm': true,
                    'btn-success': this.shared.neurocoach.connected,
                    'btn-danger': !this.shared.neurocoach.connected,
                    'tooltip-trigger': true
                }
                return styles;
            }
        },
        methods: {
            initListeners () {

                // Listens for language change
                require('electron').ipcRenderer.on('lang-update', (event, lang) => {
                    this.$lang.setLang(lang);
//                    window.reload();
                })

                // Listens from menu item to change dimmer speed
                require('electron').ipcRenderer.on('set-dimmer', (event, speed) => {
                    this.$dimmer.setSpeed(speed);
                    this.shared.dimmer.speed = speed;
                })

                require('electron').ipcRenderer.on('speed-up-dimmer', (event, speed) => {
                    if(this.shared.dimmer.speed < 9) {
                        this.shared.dimmer.speed = this.shared.dimmer.speed + 1;
                    }
                    this.$dimmer.setSpeed(this.shared.dimmer.speed);
                })

                require('electron').ipcRenderer.on('slow-down-dimmer', (event, speed) => {
                    if(this.shared.dimmer.speed > 1) {
                        this.shared.dimmer.speed = this.shared.dimmer.speed - 1;
                    }
                    this.$dimmer.setSpeed(this.shared.dimmer.speed);
                })

                require('electron').ipcRenderer.on('menu-restart-neurocoach', (event, speed) => {
                    this.$broadcast('neurocoach.restart')
                })


                this.$on('activities.loaded', function () {
                    this.$broadcast('activities.loaded');
                }.bind(this));
                this.$on('activities.started', function () {
                    this.$broadcast('activities.started');
                }.bind(this));
                this.$on('activities.changed', function () {
                    this.$router.go('activitySetup')
                }.bind(this));

                this.$on('timer.stopped', function() {
                    this.$broadcast('timer.stopped');
                });

                this.$on('timer.tick', function(remaining) {
                    this.$broadcast('timer.ticked', remaining);
                });

                this.$on('neurocoachConnector.threshold_changed', function (inThreshold) {
//                    console.log('broadcasting....');
                    this.$broadcast('neurofeedback.threshold_changed', inThreshold);
                }.bind(this));

                this.$on('neurocoachConnector.kill', function () {
                    this.$broadcast('neurocoachConnector.kill')
                })

                // Connect only after neurocoach has been launched
                this.$on('neurocoachLauncher.launched', function(tcpClient) {
                    this.$broadcast('neurocoach.connect', tcpClient);
                })

                // Disconnect when NC ends
                this.$on('neurocoachLauncher.ended', function(tcpClient) {
                    this.$broadcast('neurocoach.disconnect', tcpClient);
                });


                this.$on('music.shouldPause', function(shouldPause) {
                    this.$broadcast('music.setPause', shouldPause);
                })

            },
            handleServerMessage (socket) {
                this.messages.push(socket);
            },
            openNeurocoachSettings () {

            },
            setActivityByIndex (index) {
                this.shared.activity.currentActivityIndex = index;
                this.shared.activity.currentActivity = this.shared.activity.activities[index];
                this.shared.activity.nextActivity = this.shared.activity.activities[index+1];
            },
            backToLogin() {
                this.$router.go('login');
            }
        },
        components: {
            musicPlayer: MusicPlayer,
            neurocoachConnector: NeurocoachConnector,
            activityTimer: ActivityTimer,
        },
        store
    }
</script>
