@media screen and (min-height: 100px) {
  .iframe-container {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    border: 0;

    #main-iframe {
      z-index: 9;
      width: 100%;
      height: 99%;
      position: absolute;
      margin: 0 0 1px;
      top: 0.5%;
      left: 0;
      overflow: scroll;
      &.no-scroll {
        overflow: hidden;
      }
    }

    .iframe-overlay {
      z-index: 9999999999999999999;
      background: black;
      width: 100%;
      height: 99%;
      position: absolute;
      top: 0.5%;
      left: 0;
      opacity: 0.5;

      pointer-events: none;
    }
  }
}

